In [1]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns

In [2]:
df = pd.DataFrame({'product':['jama', 'juta', 'jama','juta', 'cap', 'chosma'],
                   'prince':[12,121,22,32,34,46]})

In [3]:
df

  product  prince
0    jama      12
1    juta     121
2    jama      22
3    juta      32
4     cap      34
5  chosma      46

In [21]:
df[(df['prince'] > 12)].sum()

product    jutajamajutacapchosma
prince                       255
dtype: object

In [4]:
a = df.groupby(by='product')

In [5]:
df.groupby(['product']).sum()

         prince
product
cap          34
chosma       46
jama         34
juta        153

In [6]:
new = ['jama', 'juta', 'pant']

In [ ]:
df

  product prince
0    jama   None
1    juta   None
2    pant   None

In [15]:
array = np.full((5,11), 213)
array1 = np.full((5,11), 213)
array+array1

array([[426, 426, 426, 426, 426, 426, 426, 426, 426, 426, 426],
       [426, 426, 426, 426, 426, 426, 426, 426, 426, 426, 426],
       [426, 426, 426, 426, 426, 426, 426, 426, 426, 426, 426],
       [426, 426, 426, 426, 426, 426, 426, 426, 426, 426, 426],
       [426, 426, 426, 426, 426, 426, 426, 426, 426, 426, 426]])

---
identity matrx

In [18]:
identity = np.eye(5)
identity

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])